{% extends "ibase.html" %}
{% block icontent %}
  <div id="mapArea" style="float:left;background:#2788da">
  <div id="map" class="map">map</div>
</div>
<div id="propertyArea"  style="float:left;background:#ccddee">属性区</div>
</div>

<div style="position:absolute;margin-left:20px;margin-top:25px;width:200p">
  <img id="search_title_open" src="../static/images/open.png"style="width:20px;height:20px"/>
</div>
<div class="panel panel-default" style="position:absolute;margin-left:20px;margin-top:25px;width:40px;height:40px;text-align:center;display:table-cell;vertical-align:middle">
<img  src="../static/images/open.png" style="width:20px;height:20px">
  </div>

<div class="panel panel-default" id="searchContainer" style="position:absolute;margin-left:20px;margin-top:25px;width:200px;height:350px;display:none">
  <div class="panel-heading">
    <h3 class="panel-title"><span id="search_title_caption">按养殖户检索</span><img id="search_title_icon" src="../static/images/close.png" style="width:20px;height:20px;float:right"></h3>
  </div>
  <div class="panel-body" id="searchContent">
    Panel content
  </div>
  </div>
{% endblock %}
  {% block scripts %}
  {{ super() }}
  <script src="../static/js/main/main.js"></script>
  {% endblock %}